{
  "env": {
    "node": true,
    "es6": true
  },
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.spec.js",
        "**/*.spec.jsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}

